/* цвет основного текста (р) color:  #757575;
цвет заголовков и ссылок #212121;
цвет фона бади #FFFFFF
цвет ховера и эффектов #2196F3
цвет футера background: #2F303A;
цвет текста в футере (заголовки - color: #FFFFFF;
цвет имейла и телефона в футере - color: rgba(255, 255, 255, 0.6);
цвет копирайта color: rgba(255, 255, 255, 0.4);


var(--main-bg-color)  #FFFFFF;
 var(--main-txt-color) #757575 ;

 */

 

:root {
  --main-bg-color: #ffffff;
  --main-txt-color: #757575;
  --h123-link-color: #212121;
  --hover-focus-color: #2196f3;
  --footer-bg-color: #2f303a;
}

html {
    margin: 0;
    padding: 0;
}

.page-header {
  padding-right: 215px;
  padding-left: 215px;
  width: 1200px;
}

body {
  font-size: 14px;
  width: 1200px;
  background: var(--main-bg-color);
  font-family: Roboto, sans-serif;
}
/* Page header */
.logo {
  color: var(--hover-focus-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  width: 153px;
  height: 1.19;
  margin-bottom: 25px;
}
/* main nav */
.main-nav {
  display: flex;
  align-items: center;
  
}
.studio {
  color: #212121;

}

.contacts {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.contact-link {
  display: block;

  color: var(--main-txt-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  list-style: none;
  
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-focus-color);
  font-style: normal;
}





.contacts .header-contact+.header-contact {
  margin-left: 50px;
}



.nav-option {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  

}

.nav-option:hover,
.nav-option:focus {
  color: var(--h123-link-color);  
}
a {
    
  color: var(--h123-link-color);
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.nav-option {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav-option:hover,
.nav-option:focus {
  color: var(--hover-focus-color);
}
/* display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
} */



/* Page header */
.efect-sol {
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-bottom: 56px;
    margin-left: 477px;
    margin-right: 477px;
    margin-top: 200px;
    width: 646px;
    height: 104px;


  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;    
  
  letter-spacing: 0.06em;
  background-color: var(--main-txt-color);
  outline: var(--hover-focus-color);
  color: var(--main-bg-color);
}


.order-button {
    display: block;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 136px;
    height: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    margin-bottom: 200px;
    margin-left: 732px;
    

    color: var(--main-bg-color);
    background: var(--hover-focus-color);
    border-radius: 4px;

    
    font-size: 16px;
    text-align: center;
    line-height: 1.87;
    font-weight: bold;
}


.central-title {
  font-size: 36px;
  align-content: center;
  text-align: center;  
  margin-bottom: 50px; 
}


.team-section {
  background: #f5f4fa;
  padding-left: auto;
  padding-right: auto;
}



p {
  color: var(--main-txt-color);
  font-size: 14px;
  line-height: 1.71;
}

ul {
    margin: 0;
    padding: 0;
}

.site-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    display: flex;
  margin-left: 86px;
}
.item-nav {
  margin-right: 50px;
}

.item-nav:last-child {
  margin-right: 0;
}

  
.container-studio {
  width: 1200px;
  display: block;
  padding-right: 215px; 
  padding-left: 215px; 
}


.container-images {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  
}

.list-images {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style: none;
  justify-content: center;
 }

 .item-image {
  width: calc((100% - 90px) / 4);
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-right: 30px;
  outline: solid  red;
  text-align: center;
}

.item-image:last-child {
margin-right: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.text-section {
  text-align: left;
}

 .list-work {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
 }

 .work-item {
   margin-right: 30px;
   width: calc((100% - 60px) / 3);
   display: block;
   
 }
 
 .work-item:last-child {
   margin-right:  0;
 }

 .section {
   padding-bottom: 94px;
   padding-top: 94px;
   padding-left: auto;
   padding-right: auto;
 } 
   

 .team-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none; 
  justify-content: center; 
 }
.list {
    list-style: none;
}

.member {
  display: block;
  box-sizing: border-box;
  width: calc((100% - 90px) / 3);
  margin-right: 30px;


  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.member h3 {
  text-align: center;
}

.member p {
  text-align: center;
}

.member:last-child {
  margin-right: 0;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 24px;
}
.social-list li {
  margin-right: 23px;
}
.client-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.client-list li {
  margin-right: 30px;
}
h1,
h2,
h3 {
  color: var(--h123-link-color);
  margin: 0;
  padding: 0;
}

.filter-button:hover,
.filter-button:focus {
  font-family: Roboto;
  background-color: var(--hover-focus-color);
}

.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  margin-right: 8px;
  margin-top: 99px;
}



.address {
  display: block;
  color: var(--main-bg-color);
  font-size: 14px;
  font-style: normal;
  margin-bottom: 9px;
  margin-top: 10px;
}

.tel-email {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.join {
  display: block;
  color: var(--main-bg-color);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 21px;
  margin-top: 56px;
}
.portfolio:hover,
.portfolio:focus,
.portfolio:active {
  color: var(--hover-focus-color);
  text-decoration: underline;
}

.products-white {
  color: var(--main-bg-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  width: 380px;
  height: 70px;
  line-height: 1.1;
  text-align: center;
  padding-top: 35px;
  margin: 0px;
}

/* portfolio */
.container-port {
  width: 1230px;
  padding-left: 215px;
  padding-right: 215px;
  
}

.list-buttons {
  list-style: none;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  margin-bottom: 50px;
  
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

}

  
  


.blue-text:hover {
  background-color: var(--hover-focus-color);
  line-height: 1.55;
}



/*margin 30px */

.blue-text {
  margin:0;

  
 
}

.portfolio-item {
  display: block;
  width: calc((100% - 60px)/ 3);

  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}



.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-heading {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
}

.port-text {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}
/* Footer */

.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer .logo {
  margin-bottom: 10px;
}

.logo-address {
  padding-top: 56px;
}
.logo-footer {
  display: block;
  color: var(--primary-white-color);
  margin-top: 56px;
}
.studio-footer {
  color: var(--hover-focus-color);
}

.footer {
  background: var(--footer-bg-color);
  padding-left: 215px;
  padding-right: 215px;
  width: 1200px;
}
.social-option:hover {
  background-color: var(--h123-link-color);
}

.studio-white {
  color: var(--main-bg-color);
}
.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  justify-content: baseline;
}
